## Task 1 - SQL

### Build SparkSession:

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import count
from pyspark.sql.types import StringType , IntegerType , StructField , StructType 

spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [4]:
df=spark.read.json('../Day2/Assignment/DataFrames_sample.json')
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display the schema:

In [4]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [5]:
df.select('*').where(df.Model == 'MacBook Pro' ).show(truncate=False)

+----+----+---------+---+-----------+----+----------+-----+------+----+
|D   |H   |HDD      |Id |Model      |RAM |ScreenSize|W    |Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|1  |MacBook Pro|16GB|15"       |13.75|4.02  |2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [5]:
# Creates a temporary view using the DataFrame
df.createOrReplaceTempView("devices")

### Display "RAM"column and count "RAM" column:

In [6]:
# SQL statements can be run by using the sql methods provided by spark
RAMDF = spark.sql("SELECT RAM FROM devices ")
RAMDF.show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

### Get all columns when "Year" column equal "2015"

In [7]:
YearDF = spark.sql("SELECT * FROM devices where Year=2015")
YearDF.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [15]:
StartWM = spark.sql("SELECT * FROM devices where Model LIKE 'M%'")
StartWM.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [9]:
ModelDF = spark.sql("SELECT * FROM devices where Model = 'MacBook Pro'")
ModelDF.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [17]:
RamDF = spark.sql("SELECT * FROM devices where RAM = '8GB' and Model =  'MacBook' ")
RamDF.show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [18]:
DDF = spark.sql("SELECT * FROM devices where D >= 8 and Model =  'iMac' ")
DDF.show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [19]:
df=spark.read.csv('../Day2/Assignment/test1.csv' ,header = True , inferSchema =True)
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [21]:
# Creates a temporary view using the DataFrame
df.createOrReplaceTempView("Employees")

SalaryDF = spark.sql("SELECT Salary FROM Employees where Salary <= 20000  ")
SalaryDF.show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [22]:
SalDF2 = spark.sql("SELECT Salary FROM Employees where Salary <= 20000  and Salary >= 15000")
SalDF2.show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [24]:
df=spark.read.csv('../Day2/Assignment/test3.csv' ,header = True , inferSchema =True)

### Display dataset

In [25]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [26]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [27]:
import pyspark.sql.functions as F     

df.groupBy("Name").sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [28]:
df.groupBy("Name").avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [29]:
df.groupBy("Departments").sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [31]:
df.groupBy("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [32]:
df.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Apply agg to using sum function get the total of salaries

In [33]:
df.agg(F.sum("salary")).collect()[0][0]

73000

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [34]:
ITI_data = spark.read.csv('../Day2/Assignment/ITI_data.csv' ,header = True , inferSchema =True)
ITI_data.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [35]:
from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCol="Cruise_line", outputCol="Cruise_numeric").fit(ITI_data)
indexed_df = indexer.transform(ITI_data)
indexed_df.drop("bar").show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_numeric|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|          16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|          16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|           1.0|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|           1.0|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|           1.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|           1.0|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|           1.0|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|           1.0|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|           1.0|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|           1.0|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|           1.0|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|           1.0|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|           1.0|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+
only showing top 20 rows

### OneHotEncoder

In [36]:
from pyspark.ml.feature import OneHotEncoder

encoder = OneHotEncoder(inputCol="Cruise_numeric", outputCol="Cruise_vector")
encoder.setDropLast(False)
ohe = encoder.fit(indexed_df)
encoded_df = ohe.transform(indexed_df)
encoded_df.drop("bar").show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+---------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_numeric|  Cruise_vector|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+---------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|          16.0|(20,[16],[1.0])|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|          16.0|(20,[16],[1.0])|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|           1.0| (20,[1],[1.0])|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|           1.0| (20,[1],[1.0])|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|           1.0| (20,[1],[1.0])|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|           1.0| (20,[1],[1.0])|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|           1.0| (20,[1],[1.0])|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|           1.0| (20,[1],[1.0])|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|           1.0| (20,[1],[1.0])|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|           1.0| (20,[1],[1.0])|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|           1.0| (20,[1],[1.0])|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|           1.0| (20,[1],[1.0])|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|           1.0| (20,[1],[1.0])|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|           1.0| (20,[1],[1.0])|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+--------------+---------------+
only showing top 20 rows

###Use VectorAssembler to merge all columns into one column:

In [38]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(
    inputCols=['Age','Tonnage','passengers' ,'length','cabins','passenger_density','Cruise_vector'], outputCol="features")

final_df = assembler.transform(encoded_df)
final_df.select(['features','crew']).show(truncate=False)

+-----------------------------------------------------------------------+----+
|features                                                               |crew|
+-----------------------------------------------------------------------+----+
|(26,[0,1,2,3,4,5,22],[6.0,30.276999999999997,6.94,5.94,3.55,42.64,1.0])|3.55|
|(26,[0,1,2,3,4,5,22],[6.0,30.276999999999997,6.94,5.94,3.55,42.64,1.0])|3.55|
|(26,[0,1,2,3,4,5,7],[26.0,47.262,14.86,7.22,7.43,31.8,1.0])            |6.7 |
|(26,[0,1,2,3,4,5,7],[11.0,110.0,29.74,9.53,14.88,36.99,1.0])           |19.1|
|(26,[0,1,2,3,4,5,7],[17.0,101.353,26.42,8.92,13.21,38.36,1.0])         |10.0|
|(26,[0,1,2,3,4,5,7],[22.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
|(26,[0,1,2,3,4,5,7],[15.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
|(26,[0,1,2,3,4,5,7],[23.0,70.367,20.56,8.55,10.22,34.23,1.0])          |9.2 |
|(26,[0,1,2,3,4,5,7],[19.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
|(26,[0,1,2,3,4,5,7],[6.0,110.23899999999999,37.0,9.51,14.87,29.79,1.0])|11.5|
|(26,[0,1,2,3,4,5,7],[10.0,110.0,29.74,9.51,14.87,36.99,1.0])           |11.6|
|(26,[0,1,2,3,4,5,7],[28.0,46.052,14.52,7.27,7.26,31.72,1.0])           |6.6 |
|(26,[0,1,2,3,4,5,7],[18.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
|(26,[0,1,2,3,4,5,7],[17.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
|(26,[0,1,2,3,4,5,7],[11.0,86.0,21.24,9.63,10.62,40.49,1.0])            |9.3 |
|(26,[0,1,2,3,4,5,7],[8.0,110.0,29.74,9.51,14.87,36.99,1.0])            |11.6|
|(26,[0,1,2,3,4,5,7],[9.0,88.5,21.24,9.63,10.62,41.67,1.0])             |10.3|
|(26,[0,1,2,3,4,5,7],[15.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
|(26,[0,1,2,3,4,5,7],[12.0,88.5,21.24,9.63,11.62,41.67,1.0])            |9.3 |
|(26,[0,1,2,3,4,5,7],[20.0,70.367,20.52,8.55,10.2,34.29,1.0])           |9.2 |
+-----------------------------------------------------------------------+----+
only showing top 20 rows

### Create a Linear Regression Model

In [39]:
from pyspark.ml.regression import LinearRegression

Lin_Reg = LinearRegression(featuresCol='features',labelCol='crew')

# fit the Lin_Reg for the data
model = Lin_Reg.fit(final_df)
# transform the data
sample_data_train = model.transform(final_df)
sample_data_train.select(['crew' , 'prediction']).show()

+----+------------------+
|crew|        prediction|
+----+------------------+
|3.55| 3.550006132033908|
|3.55| 3.550006132033908|
| 6.7|  6.70065065960065|
|19.1|12.573740342571229|
|10.0|11.310997784040358|
| 9.2|  9.10903211820626|
| 9.2| 9.058134100446638|
| 9.2|   9.1268394240964|
| 9.2| 9.087218682023565|
|11.5|11.807715295594617|
|11.6|12.549519154909259|
| 6.6| 6.631813376592395|
| 9.2| 9.079947536629334|
| 9.2|   9.0726763912351|
| 9.3| 10.01935168726866|
|11.6|12.534976864120795|
|10.3|10.042127182607059|
| 9.2| 9.058134100446638|
| 9.3|10.788802058867198|
| 9.2| 9.094489827417798|
+----+------------------+
only showing top 20 rows

### Creating a Pipeline

In [40]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[indexer, encoder, assembler , Lin_Reg])
model = pipeline.fit(ITI_data)
transformed = model.transform(ITI_data)
transformed.select(['crew','prediction']).show(truncate=False)

+----+------------------+
|crew|prediction        |
+----+------------------+
|3.55|3.550006132033908 |
|3.55|3.550006132033908 |
|6.7 |6.70065065960065  |
|19.1|12.573740342571229|
|10.0|11.310997784040358|
|9.2 |9.10903211820626  |
|9.2 |9.058134100446638 |
|9.2 |9.1268394240964   |
|9.2 |9.087218682023565 |
|11.5|11.807715295594617|
|11.6|12.549519154909259|
|6.6 |6.631813376592395 |
|9.2 |9.079947536629334 |
|9.2 |9.0726763912351   |
|9.3 |10.01935168726866 |
|11.6|12.534976864120795|
|10.3|10.042127182607059|
|9.2 |9.058134100446638 |
|9.3 |10.788802058867198|
|9.2 |9.094489827417798 |
+----+------------------+
only showing top 20 rows

### Model Evaluation

In [41]:
from pyspark.ml.evaluation import RegressionEvaluator

# Select (prediction, true label) and compute test error
evaluator = RegressionEvaluator(
    labelCol="crew", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(transformed)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 0.800765

# Resources :
*   https://www.analyticsvidhya.com/blog/2019/11/build-machine-learning-pipelines-pyspark/
*   https://stackoverflow.com/questions/32982425/encode-and-assemble-multiple-features-in-pyspark