Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import count
from pyspark.sql.types import StringType , IntegerType , StructField , StructType 
from pyspark import SparkContext
from pyspark.sql import SparkSession

## Build Spark Session

In [2]:
spark = SparkSession.builder.appName('Practical').getOrCreate()

21/11/02 17:07:47 WARN Utils: Your hostname, ahmed-G3-3579 resolves to a loopback address: 127.0.1.1; using 10.178.240.216 instead (on interface wlo1)
21/11/02 17:07:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/11/02 17:07:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [3]:
train = spark.read.csv('train.csv' ,header = True , inferSchema =True)
test = spark.read.csv('test.csv' ,header = True , inferSchema =True)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [4]:
print(type(train))

<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [5]:
train.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

**Display schema for the dataset:**

In [6]:
train.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [7]:
['Sex', 'Ticket', 'Cabin', 'Embarked']

['Sex', 'Ticket', 'Cabin', 'Embarked']

**Statistical summary:**

In [8]:
train.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [9]:
counter = train.groupBy('Survived').count()
counter.show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [10]:
Survived= train.select('Survived').where('Survived == 1').count()
didnt_Survived= train.select('Survived').where('Survived == 0').count()

In [11]:
train.select('Survived').count()

891

**Display your result:**

In [12]:
print('Survived People Count :', Survived)
print('People Didn\'t Survived Count:', didnt_Survived)

Survived People Count : 342
People Didn't Survived Count: 549

**Can you display your answer in ratio form?(Hint: Use "UDF" Function. (Hint: Use "UDF" Function. This is a hint you can use any method.)**

In [13]:
all_count = train.select('Survived').count()
Survived_ratio = Survived / all_count
didnt_Survived_ratio = didnt_Survived / all_count

print('Survived People Ratio :', Survived_ratio)
print('People Didn\'t Survived Ratio:', didnt_Survived_ratio)

Survived People Ratio : 0.3838383838383838
People Didn't Survived Ratio: 0.6161616161616161

In [14]:
# def ratio(colunm):
#     Survived = colunm.where('colunm == 1').count()
#     didnt_Survived = colunm.where('colunm == 1').count()
#     all_count = colunm.count()
#     Survived_ratio = Survived / all_count
#     didnt_Survived_ratio = didnt_Survived / all_count
#     return Survived_ratio


# from pyspark.sql.functions import udf
# from pyspark.sql.types import *
# ratioUDF = udf(lambda z: ratio(z), FloatType())
# from pyspark.sql import functions as F
# # using select
# train.select(F.col("Survived"), \
#     ratioUDF(F.col("Survived")).alias("Survived") ) \
#    .show(truncate=False)

**Can you get the number of males and females?**

In [15]:
counter = train.groupBy('Sex').count()
counter.show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column. This is a hint you can use any method.)

In [16]:
from pyspark.sql.functions import *

Survived_avg = train.groupBy('Sex').agg(avg('Survived'))
Survived_avg.show()
Survived_count = train.where('Survived == 1').groupBy('Sex').count()
Survived_count.show()

+------+-------------------+
|   Sex|      avg(Survived)|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

+------+-----+
|   Sex|count|
+------+-----+
|female|  233|
|  male|  109|
+------+-----+

**Create temporary view PySpark:**

In [17]:
train.createOrReplaceTempView("Temp")

**How many people survived, and how many didn't survive? By SQL:**

In [18]:
spark.sql("select Survived,count(Survived) from Temp group by Survived").show()

+--------+---------------+
|Survived|count(Survived)|
+--------+---------------+
|       1|            342|
|       0|            549|
+--------+---------------+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column. This is a hint you can use any method.)

**Can you do this via SQL?**

In [19]:
spark.sql("select Sex,avg(Survived) from Temp group by Sex").show()

+------+-------------------+
|   Sex|      avg(Survived)|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

**Display a ratio for "p-class": SUM(Survived)/count for p-class**

In [20]:
spark.sql(" select Pclass,sum(Survived)/count(Pclass) AS avarage from Temp  group by(Pclass)").show()

+------+-------------------+
|Pclass|            avarage|
+------+-------------------+
|     1| 0.6296296296296297|
|     3|0.24236252545824846|
|     2|0.47282608695652173|
+------+-------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [21]:
df = train.union(test)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

**Display count:**

In [22]:
df.count()

1329

**Can you define the number of null values in each column?**

In [23]:
from pyspark.sql.functions import col,isnan, when, count
nulls = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns])
nulls.show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [24]:
nulls_df = df.select('Age', 'Cabin', 'Embarked')
nulls_df.show()

+----+-----+--------+
| Age|Cabin|Embarked|
+----+-----+--------+
|22.0| null|       S|
|38.0|  C85|       C|
|26.0| null|       S|
|35.0| C123|       S|
|35.0| null|       S|
|null| null|       Q|
|54.0|  E46|       S|
| 2.0| null|       S|
|27.0| null|       S|
|14.0| null|       C|
| 4.0|   G6|       S|
|58.0| C103|       S|
|20.0| null|       S|
|39.0| null|       S|
|14.0| null|       S|
|55.0| null|       S|
| 2.0| null|       Q|
|null| null|       S|
|31.0| null|       S|
|null| null|       C|
+----+-----+--------+
only showing top 20 rows

## Preprocessing

**Create Temporary view PySpark:**

In [25]:
df.createOrReplaceTempView("union")

**Can you show the "name" column from your temporary table?**

In [26]:
spark.sql("select Name from union").show()

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

**Run this code:**

In [27]:
import pyspark.sql.functions as F
df = df.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
df.createOrReplaceTempView('combined')

**Display "Title" column and count "Title" column:**

In [28]:
titels = spark.sql("select Title, count(Title) as count from combined group by Title")
titels.show()

+--------+-----+
|   Title|count|
+--------+-----+
|     Don|    1|
|    Miss|  257|
|Countess|    2|
|     Col|    4|
|     Rev|    9|
|    Lady|    2|
|  Master|   56|
|     Mme|    1|
|    Capt|    2|
|      Mr|  786|
|      Dr|   11|
|     Mrs|  186|
|     Sir|    2|
|Jonkheer|    2|
|    Mlle|    4|
|   Major|    3|
|      Ms|    1|
+--------+-----+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [29]:
tlist = list(map(lambda row: row.asDict(), titels.collect()))
new_dict = {item['Title']:'rare' if item['count'] < 56 else item['Title'] for item in tlist}
new_dict

{'Don': 'rare',
 'Miss': 'Miss',
 'Countess': 'rare',
 'Col': 'rare',
 'Rev': 'rare',
 'Lady': 'rare',
 'Master': 'Master',
 'Mme': 'rare',
 'Capt': 'rare',
 'Mr': 'Mr',
 'Dr': 'rare',
 'Mrs': 'Mrs',
 'Sir': 'rare',
 'Jonkheer': 'rare',
 'Mlle': 'rare',
 'Major': 'rare',
 'Ms': 'rare'}

**Run the function:**

In [30]:
def impute_title(title):
    return new_dict[title]# Title_map is your dictionary. please change this name with your dictionary name.

**Apply the function on "Title" column using UDF:**

In [31]:
tlistUDF = udf(lambda z:impute_title(z))   

rare_df = df.withColumn("Title", tlistUDF(F.col("Title")))
rare_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Title|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|   Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S| Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|  Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|   Mr|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+
only showing top 5 rows

**Display "Title" from table and group by "Title" column:**

In [32]:
rare_df.createOrReplaceTempView("rare_df")
spark.sql("select Title, count(Title) from rare_df group by Title").show()

+------+------------+
| Title|count(Title)|
+------+------------+
|  rare|          44|
|  Miss|         257|
|Master|          56|
|    Mr|         786|
|   Mrs|         186|
+------+------------+

## **Preprocessing Age**

**Based on the "age" column mean, you will fill in the missing age values:**

In [33]:
mean_age = rare_df.select(mean('Age')).collect()[0][0]
print(mean_age)

30.079501879699244

**Fill missing with "age" mean:**

In [34]:
age_df=rare_df.na.fill(mean_age, subset=['Age'])
age_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|Title|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+
|          0|       0|     0|   0|  0|  0|    0|    0|     0|   0| 1021|       3|    0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+

## **Preprocessing Embarked**

**Select "Embarked" column, count them, order by count Desc, and save in grouped_Embarked variable:**

In [35]:
age_df.createOrReplaceTempView("age_df")

grouped_Embarked= spark.sql("select Embarked, count(Embarked) as Embarked_c \
                            from age_df \
                            group by Embarked\
                            order by Embarked_c Desc")

**Show "groupped_Embarked" your variable:**

In [36]:
grouped_Embarked.show()

+--------+----------+
|Embarked|Embarked_c|
+--------+----------+
|       S|       962|
|       C|       253|
|       Q|       111|
|    null|         0|
+--------+----------+

**Get max of groupped_Embarked:**

In [37]:
max_val = grouped_Embarked.agg(max('Embarked_c')).collect()[0][0]
max_em = grouped_Embarked.select("Embarked").filter(expr("Embarked_c")==max_val).collect()[0][0]
max_em

'S'

**Fill missing values with max 'S' of grouped_Embarked:**

In [38]:
Embarked_df=age_df.na.fill(max_em,subset=['Embarked'])
Embarked_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in Embarked_df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|Title|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+
|          0|       0|     0|   0|  0|  0|    0|    0|     0|   0| 1021|       0|    0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [39]:
cabin_df=Embarked_df.withColumn("cabin", substring(Embarked_df['cabin'],0,1))

**Show the result:**

In [40]:
cabin_df.select('cabin').show(5)

+-----+
|cabin|
+-----+
| null|
|    C|
| null|
|    C|
| null|
+-----+
only showing top 5 rows

**Create the temporary view:**

In [41]:
cabin_df.createOrReplaceTempView("cabin_df")

**Select "Cabin" column, count "Cabin" column, Group by "Cabin" column, Order By count DESC**

In [42]:
grouped_cabin= spark.sql("select Cabin, count(Cabin) as Cabin_c \
                            from cabin_df \
                            group by Cabin\
                            order by Cabin_c Desc")

In [43]:
grouped_cabin.show()

+-----+-------+
|Cabin|Cabin_c|
+-----+-------+
|    C|     82|
|    B|     77|
|    D|     52|
|    E|     51|
|    A|     23|
|    F|     18|
|    G|      4|
|    T|      1|
| null|      0|
+-----+-------+

**Fill missing values with "U":**

In [44]:
cabin_df2=cabin_df.na.fill('U',subset=['Cabin'])
cabin_df2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in cabin_df2.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|cabin|Embarked|Title|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+
|          0|       0|     0|   0|  0|  0|    0|    0|     0|   0|    0|       0|    0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+

In [45]:
cabin_df2.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- cabin: string (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- Title: string (nullable = true)

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

**StringIndexer(inputCol=None, outputCol=None)**

In [46]:
from pyspark.ml.feature import StringIndexer

categoricalCols = [field for (field, dataType) in cabin_df2.dtypes
                   if dataType == "string"]
indexOutputCols = [x + "_Index" for x in categoricalCols]

stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip').fit(cabin_df2)

# indexed_df = stringIndexer.transform(cabin_df2)
# indexed_df.show(5)

**OneHotEncoder(inputCols=None, outputCols=None)**

A one-hot encoder that maps a column of category indices to a column of binary vectors, with at most a single one-value per row that indicates the input category index. For example with 5 categories, an input value of 2.0 would map to an output vector of [0.0, 0.0, 1.0, 0.0]. The last category is not included by default (configurable via dropLast), because it makes the vector entries sum up to one, and hence linearly dependent. So an input value of 4.0 maps to [0.0, 0.0, 0.0, 0.0].

In [47]:
from pyspark.ml.feature import OneHotEncoder

oheOutputCols = [x + "_OHE" for x in categoricalCols]

encoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)
encoder.setDropLast(False)
# ohe = encoder.fit(indexed_df)
# encoded_df = ohe.transform(indexed_df)
# encoded_df.show(5)

OneHotEncoder_5408bd770c53

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None). A feature transformer that merges multiple columns into a vector column.**

In [48]:
numericCols = [field for (field,dataType) in cabin_df2.dtypes
              if ((dataType=='double')& (field!='price'))]

assemblerInputs = oheOutputCols + numericCols

In [49]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')
# final_df = assembler.transform(encoded_df)
# final_df.select(['features']).show(truncate=False)

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [50]:
seed = 42
splits = cabin_df2.randomSplit([0.8, 0.2], seed)
trainDF = splits[0]
testDF = splits[1]

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [51]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol="features", labelCol='Survived')

stages = [stringIndexer, encoder, assembler, rf]

from pyspark.ml import Pipeline
pipeline = Pipeline(stages=stages)

pipelineModel = pipeline.fit(trainDF) # This line should error


predDF = pipelineModel.transform(testDF)

21/11/02 17:08:12 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [52]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
Evaluator = MulticlassClassificationEvaluator(predictionCol='prediction',
                                         labelCol='Survived',
                                         metricName='accuracy')

acc = Evaluator.evaluate(predDF)
print(f"accurcy = {acc}")

accurcy = 0.7787234042553192

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**